.example-sized-card{
    margin: 0px auto;
    max-width: 50%;
}
.example-header-image {
    background-image: url('../../../assets/images/api.png');
    background-size: cover;
  }

  .release-detail td {
    vertical-align: top;
  }