.example-sized-card{
    margin: 0px auto;
    max-width: 50%;
}
.example-header-image {
    background-image: url('../../../assets/images/api.png');
    background-size: cover;
  }

  .release-detail td {
    vertical-align: top;
  }


  .example-ripple-container {
    cursor: pointer;
    text-align: center;

    width: 100%;
    padding: 10px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  .mat-icon {
    font-size: 35px;
  }
