<div class="main-content">
    <!-- <iframe style="border: 0;" width="100%" height="1100" [src]="url | safe"></iframe> -->
    <div class="row">
      <div class="col-md-6">
        <mat-card class="mat-elevation-z8">
          <mat-card-header style="text-align: center;">
            <mat-toolbar>
              <span style="flex: auto;">{{claims.orgName}}</span>
            </mat-toolbar>
          </mat-card-header>
          <mat-card-content>
            <mat-grid-list cols="1" rowHeight="5:1">
              <mat-grid-tile><button class="frontBtn frontBtn1" mat-raised-button type="button" (click)="new()">Принят</button></mat-grid-tile>
              <mat-grid-tile><button class="frontBtn frontBtn2" mat-raised-button type="button" (click)="out()">Выписан</button></mat-grid-tile>
              <mat-grid-tile><button class="frontBtn frontBtn3" mat-raised-button type="button" (click)="dead()">Умер</button></mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6" style="color: black; font-weight: bold; font-size: large;">
        <mat-card class="mat-elevation-z8">
          <mat-card-header style="text-align: center;">
            <mat-toolbar>
              <span style="flex: auto;">Коечный фонд</span>
            </mat-toolbar>
          </mat-card-header>
          <mat-card-content>
            <mat-grid-list cols="1" rowHeight="5:1">
              <mat-grid-tile class="capacity">Всего {{counterInfo?.totalCapacity}}</mat-grid-tile>
              <mat-grid-tile class="capacity">Занято {{counterInfo?.busy}}</mat-grid-tile>
              <mat-grid-tile class="capacity">Свободно {{counterInfo?.free}}</mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div style="color: black; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold; font-size: large;">
      <h3 style="text-align: center;padding: 15px;">Коечный фонд Кыргызская Республика</h3>
      <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif;">{{today}} {{ now$ | async | date:'hh:mm:ss' }}</h3>
      <mat-card class="mat-elevation-z8" *ngFor="let regionItem of regionItems" style="width: 80%; margin: 0 auto; margin-top: 10px;">
        <mat-card-header>
          <span>{{regionItem.regionName}}</span>
        </mat-card-header>
        <mat-card-content>

            <ng-container *ngFor="let reportItem of regionItem.reportItems">
              <table class="mat-table" style="margin: 0 auto; text-align: center; width: 90%; border: 3px solid rgba(170, 168, 168, 0.623); margin-bottom: -3px;">
                <tr class="mat-row" style="border: 3px solid rgba(170, 168, 168, 0.623);">
                  <td class="mat-cell" style=" color: rgb(255, 151, 14);font-size:large;">
                    {{reportItem.orgName || 'неизвестно'}}
                  </td>
                </tr>
                <tr class="mat-row">
                  <td class="mat-cell">
                    ВСЕГО: {{reportItem.totalCapacity}}
                    <hr>
                    ЗАНЯТО: {{reportItem.currentCount}}
                    <hr>
                    СВОБОДНО: {{reportItem.freeCount}}
                  </td>
                </tr>
              </table>

            </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

