.example-sized-card{
    margin: 0px auto;
}
.example-header-image {
    background-image: url('../../../assets/images/audit.svg');
    background-size: cover;
  }

  .release-detail td {
    vertical-align: top;
  }