<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-toolbar>
      <span>Информация о правонарушении</span>
      <span class="fill-remaining-space"></span>
      <button *ngIf="wrongdoingInfo" mat-raised-button color="warn" (click)="delete()">Удалить</button>
      <a *ngIf="wrongdoingInfo == null" mat-raised-button color="primary" routerLink="/add-wrongdoing/{{personId}}">Добавить</a>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <table class="mat-table">
      <tr class="mat-row">
        <td style="padding: 5px;" class="mat-cell" style="border-right: 1px solid rgba(0,0,0,.12); text-align: right;">
          Дата правонарушения
        </td>
        <td style="padding: 5px;" class="mat-cell">
          {{wrongdoingInfo?.MadeAt | date:'dd.MM.yyyy'}}
        </td>
      </tr>
      <tr class="mat-row">
        <td style="padding: 5px;" class="mat-cell" style="border-right: 1px solid rgba(0,0,0,.12); text-align: right;">
          Дата постановки на учет
        </td>
        <td style="padding: 5px;" class="mat-cell">
          {{wrongdoingInfo?.RegDate | date:'dd.MM.yyyy'}}
        </td>
      </tr>
      <tr class="mat-row">
        <td style="padding: 5px;" class="mat-cell" style="border-right: 1px solid rgba(0,0,0,.12); text-align: right;">
          Дата снятия с учета
        </td>
        <td style="padding: 5px;" class="mat-cell">
          {{wrongdoingInfo?.ExpiryDate | date:'dd.MM.yyyy'}}
        </td>
      </tr>
      <tr class="mat-row">
        <td style="padding: 5px;" class="mat-cell" style="border-right: 1px solid rgba(0,0,0,.12); text-align: right;">
          Статья правонарушения
        </td>
        <td style="padding: 5px;" class="mat-cell">
          {{wrongdoingInfo?.OffenseArticle}}
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
