.example-header-image {
    background-image: url('../../../../assets/images/tender-detail-logo2.png');
    background-size: cover;
  }

  .release-detail td {
    vertical-align: top;
  }

  .table-with-col td:nth-child(1) {  
    font-weight: bold;
  }