<mat-toolbar>Детали тендера</mat-toolbar>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{release.tender.title}}</mat-card-title>
      <mat-card-subtitle>последний раз обновлено от {{release.date | date:'dd.MM.yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <table class="release-detail table">
            <tr>
                <td>
                    <mat-toolbar>Тендер</mat-toolbar>
                    <table class="table table-with-col">
                        <tr>
                            <td>№ закупки</td>
                            <td>{{release.tender.tenderNumber}}</td>
                        </tr>
                        <tr>
                            <td>Метод закупки</td>
                            <td>{{release.tender.procurementMethod}}</td>
                        </tr>
                        <tr>
                            <td>Дата публикации</td>
                            <td>{{release.date | date:'dd.MM.yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Статус конкурса</td>
                            <td [style.color]="release.tender.status == 'active' ? 'green' : 'red'">{{release.tender.status}}</td>
                        </tr>
                      </table>
                </td>
                <td>
                    <mat-toolbar>Фактические поставки</mat-toolbar>
                    <div style="max-height:400px;overflow:auto;">
                        <table class="table">
                            <tr>
                                <th>
                                    ИНН поставщика
                                </th>
                                <th>
                                    Наименование поставщика
                                </th>
                                <th>
                                    Адрес поставки
                                </th>
                                <th>
                                    Срок поставки
                                </th>
                                <th>
                                    Статус поставки
                                </th>
                            </tr>
                            <tr *ngFor="let p of release.parties">
                                <td>
                                    {{p.identifier.id}}
                                </td>
                                <td>
                                    {{p.identifier.legalName}}
                                </td>
                                <td>
                                    {{p.address.region}} {{p.address.streetAddress}}
                                </td>
                                <td>
                                    -
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                          </table>
                       </div>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-toolbar>Лоты - {{release.tender.lots.length}} шт.</mat-toolbar>
                    <div style="max-height:400px;overflow:auto;">
                        <table class="table">
                            <tr>
                                <th>
                                    № лота
                                </th>
                                <th>
                                    Наименование лота
                                </th>
                                <th>
                                    Адрес поставки
                                </th>
                                <th>
                                    Срок поставки
                                </th>
                                <th>
                                    Статус поставки
                                </th>
                            </tr>
                            <tr *ngFor="let lot of release.tender.lots">
                                <td>
                                    {{lot.lotNumber}}
                                </td>
                                <td>
                                    {{lot.title}}
                                </td>
                                <td>
                                    {{lot.deliveryAddress}}
                                </td>
                                <td>
                                    {{lot.deliveryDateDetails}}
                                </td>
                                <td>
                                    {{lot.status}}
                                </td>
                            </tr>
                          </table>
                       </div>
                </td>
                <td>
                    <mat-toolbar>Контракты - {{release.contracts_length}} шт.</mat-toolbar>
                    <div *ngIf="release.contracts_length > 0" style="max-height:400px;overflow:auto;">
                        <table class="table">
                            <tr>
                                <th>
                                    № контракта
                                </th>
                                <th>
                                    Дата подписания
                                </th>
                                <th>
                                    Сумма контракта
                                </th>
                            </tr>
                            <tr *ngFor="let contract of release.contracts">
                                <td>
                                    {{contract.contractNumber}}
                                </td>
                                <td>
                                    {{contract.dateSigned | date:'dd.MM.yyyy'}}
                                </td>
                                <td>
                                    {{contract.value.amount}} {{contract.value.currency}}
                                </td>
                            </tr>
                          </table>
                       </div>
                </td>
            </tr>
            <tr>
                
            </tr>
        </table>
    </mat-card-content>
    <!--<mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>-->
  </mat-card>