
  <div>
    <div class="example-container">
      <div
        class="example-list">
        <div class="example-box" *ngFor="let f of fields.fields">
            <mat-icon>filter_alt</mat-icon>
        <span style="padding-left: 10px;">{{f.label}}</span>
        <span class="fill-remaining-space"></span>
            <button *ngIf="f.dataType != 'select' || (f.dataType == 'select' && selectItems[f.name])" mat-icon-button (click)="addCondition(f)" matTooltip="Задать условие">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <div
        class="example-list">
        <div class="example-box" *ngFor="let f of fields.fields">
          <mat-icon *ngIf="field_vals[f.name] == null" color="secondary">panorama_fish_eye</mat-icon>
          <mat-icon *ngIf="field_vals[f.name] != null" color="primary">check_circle_outline</mat-icon>
        <span style="padding-left: 10px;">{{field_vals[f.name]}}</span>
        <span class="fill-remaining-space"></span>
            <button  *ngIf="field_vals[f.name] != null" mat-icon-button (click)="removeCondition(f.name)" matTooltip="Удалить условие">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </div>
      </div>
    </div>
    <button mat-button (click)="saveEntry()">Сохранить</button>
  </div>