<mat-toolbar>Список поставщиков</mat-toolbar>
<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Фильтр
            </mat-panel-title>
            <mat-panel-description>
              Сделайте выборку
              <span class="fill-remaining-space"></span>
              <mat-icon>filter_alt</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="formGroup">
            <mat-form-field appearance="outline" style="width: 400px;">
                <mat-label>Форма собственности</mat-label>
                <mat-select formControlName="ownership_type">
                  <mat-option>-</mat-option>
                  <mat-option *ngFor="let item of ownership_types" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 400px;">
                <mat-label>Наименование поставщика</mat-label>
                <input matInput placeholder="Поиск..." [matAutocomplete]="auto" [formControl]="searchNameCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                  <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let item of filteredNames" [value]="item">
                      {{item}}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 400px;">
                  <mat-label>Отрасль</mat-label>
                  <mat-select formControlName="industry">
                    <mat-option>-</mat-option>
                    <mat-option *ngFor="let item of industries" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              <mat-form-field appearance="outline" style="width: 400px;">
                  <mat-label>Наличие лицензий на виды деятельности</mat-label>
                  <mat-select formControlName="license__license_type">
                    <mat-option>-</mat-option>
                    <mat-option *ngFor="let item of license_types" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>ИНН</mat-label>
                <input matInput formControlName="inn">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Кол-во строк</mat-label>
                <mat-select [(value)]="page_size">
                    <mat-option [value]="5">5</mat-option>
                  <mat-option [value]="10">10</mat-option>
                  <mat-option [value]="100">100</mat-option>
                </mat-select>
              </mat-form-field>
          </form>
          <button mat-raised-button (click)="applyFilter()" class="custom-btn-color">Применить</button>
          <button mat-raised-button color="secondary" (click)="clearFilter()">Сбросить</button>
        </mat-expansion-panel>
      </mat-accordion>
    <div class="example-table-container">
        
      <table mat-table [dataSource]="suppliersData" class="example-table"
             matSort matSortActive="id" matSortDisableClear matSortDirection="desc">
        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
  
        <!-- inn Column -->
        <ng-container matColumnDef="inn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ИНН</th>
          <td mat-cell *matCellDef="let row">{{row.inn}}</td>
        </ng-container>
  
        <!-- legalAddress Column -->
        <ng-container matColumnDef="legalAddress">
          <th mat-header-cell *matHeaderCellDef>Адрес (юрид)</th>
          <td mat-cell *matCellDef="let row">{{row.legalAddress}}</td>
        </ng-container>
  
        <!-- legalAddress Column -->
        <ng-container matColumnDef="_ownership_type">
          <th mat-header-cell *matHeaderCellDef>Форма собственности</th>
          <td mat-cell *matCellDef="let row">{{row._ownership_type?.name}}</td>
        </ng-container>
  
        <!-- legalAddress Column -->
        <ng-container matColumnDef="_industry">
          <th mat-header-cell *matHeaderCellDef>Отрасль</th>
          <td mat-cell *matCellDef="let row">{{row._industry?.name}}</td>
        </ng-container>
  
        <!-- Created Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            id
          </th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="suppliersDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: suppliersDisplayedColumns;" (click)="navigateTo(row)"></tr>
      </table>
    </div>
  
    <mat-paginator [length]="resultsLength" [pageSize]="page_size"></mat-paginator>
  </div>