.example-card {
    max-width: 500px;
    margin: 0px auto;
  }
  
  .example-header-image {
    background-image: url('../../../assets/images/logo.png');
    background-size: cover;
  }

  .list-btn{
    cursor: pointer;
    border-radius: 2px;
  }
  .list-btn:hover {
    background-color: rgba(190, 190, 190, 0.514);
  }