<mat-toolbar>
  <span>Информация о поставщике</span>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="goBack()" matTooltip="Вернуться к списку">НАЗАД</button>
</mat-toolbar>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{supplier.name}}</mat-card-title>
      <mat-card-subtitle>последний раз обновлено от {{supplier._ownership_type?.created_at | date:'dd.MM.yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <table class="table table-with-col">
        <tr>
            <td>ИНН</td>
            <td>{{supplier.inn}}</td>
        </tr>
        <tr>
            <td>Юр. адрес</td>
            <td>{{supplier.legalAddress}}</td>
        </tr>
        <tr>
            <td>Форма собственности</td>
            <td>{{supplier.ownershipTypeId}}</td>
        </tr>
        <tr>
            <td>Факт. адрес</td>
            <td>{{supplier.factAddress}}</td>
        </tr>
        <tr>
            <td>Руководитель</td>
            <td>
                <view-supplier-members [supplierId]="supplierId"></view-supplier-members>
            </td>
        </tr>
        <tr>
          <td>Лицензии</td>
          <td><app-view-supplier-licenses [licenses]="supplier.licenses"></app-view-supplier-licenses></td>
        </tr>
        <tr>
          <td>Выручка и прибыл (убыток) поставщика</td>
          <td>
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <ng-container *ngIf="!isLoadingResults && hasContractData">
              {{contractInfo.value?.amount}} KGS (№ договора {{contractInfo.contractNumber}} от {{contractInfo.dateSigned | date:'dd.MM.yyyy'}})
            </ng-container>
            <ng-container *ngIf="!hasContractData">
              данные не найдены в OCDS-базе (http://ocds.zakupki.gov.kg/api/)
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>Соблюдение сроков исполнения договоров</td>
          <td>Исполнение договоров госзакупок</td>
        </tr>
        <tr>
          <td>Наличие претензий по качеству</td>
          <td>Исполнение договоров госзакупок</td>
        </tr>
        <tr>
          <td>
            Черный список
          </td>
          <td>нет</td>
        </tr>
        <tr>
          <td>Жалобы</td>
          <td><app-view-supplier-appeals [supplierId]="supplierId"></app-view-supplier-appeals></td>
        </tr>
        <tr>
          <td>Налоговые отчисления</td>
          <td><app-view-supplier-ips [items]="supplier.ip_items"></app-view-supplier-ips></td>
        </tr>
        <tr>
          <td>Задолженности по налогам</td>
          <td>данные отсутствуют</td>
        </tr>
        <tr>
          <td>
            Наличие судебных тяжб по экономическим вопросам
          </td>
          <td>данные отсутствуют</td>
        </tr>
        <tr>
          <td>
            Наличие уголовных дел в отношении поставщика
          </td>
          <td>данные отсутствуют</td>
        </tr>
        <tr>
          <td>
            Наличие судебных приговоров в отношении поставщика
          </td>
          <td>данные отсутствуют</td>
        </tr>
      </table>
    </mat-card-content>
    <!--<mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>-->
  </mat-card>