<mat-toolbar>
  <span>Информация о поставщике</span>
  <span class="fill-remaining-space"></span>
  <button *ngIf="hasRoute" mat-button (click)="goBack()" matTooltip="Вернуться к списку">НАЗАД</button>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{supplier.name}}</mat-card-title>
    <mat-card-subtitle>последний раз обновлено от {{supplier.updatedAt | date:'dd.MM.yyyy HH:mm'}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <table class="table table-with-col">
      <tr>
        <td>ИНН</td>
        <td>{{supplier.inn}}</td>
      </tr>
      <tr>
        <td>Юр. адрес</td>
        <td>{{supplier.legalAddress}}</td>
      </tr>
      <tr>
        <td>Форма собственности</td>
        <td>{{supplier.ownershipType?.name}}</td>
      </tr>
      <tr>
        <td>Отрасль</td>
        <td>{{supplier.industry?.name}}</td>
      </tr>
      <tr>
        <td>Юр. адрес</td>
        <td>{{supplier.legalAddress}}</td>
      </tr>
      <tr>
        <td>Факт. адрес</td>
        <td>{{supplier.factAddress}}</td>
      </tr>
      <tr>
        <td>
          Резидент
        </td>
        <td>{{supplier.resident ? 'да' : 'нет'}}</td>
      </tr>
      <tr [class.blackList]="supplier.isBlack">
        <td>
          Черный список
        </td>
        <td>{{supplier.isBlack ? 'да' : 'нет'}}</td>
      </tr>
      <tr>
        <td>Руководитель</td>
        <td>
          <button  *ngIf="isCabinet" mat-raised-button (click)="addSupplierMember()">Добавить</button>
          <view-supplier-members [supplier_members]="supplier.supplierMembers" (removeEvent)="remove('SupplierMember', $event)">
          </view-supplier-members>
        </td>
      </tr>
      <tr>
        <td>Лицензии</td>
        <td>
          <app-view-supplier-licenses *ngIf="licenseChecked" [licenses]="supplier.licenses">
          </app-view-supplier-licenses>
          <span style="font-style: italic; color: darkred;" *ngIf="!licenseChecked">Данная информация скрыта</span>
        </td>
      </tr>
      <tr>
        <td>Данные о задолженности по налогам</td>
        <td>
          <app-view-supplier-debts *ngIf="debtChecked" [items]="supplier.debts"></app-view-supplier-debts>
          <span style="font-style: italic; color: darkred;" *ngIf="!debtChecked">Данная информация скрыта</span>
        </td>
      </tr>
      <tr>
        <td>Жалобы</td>
        <td>
          <app-view-supplier-appeals [appeals]="supplier.appeals" [supplierId]="supplierId"></app-view-supplier-appeals>
        </td>
      </tr>
      <tr>
        <td>Данные о налоговой регистрации</td>
        <td>
          <app-view-supplier-ips [items]="[]"></app-view-supplier-ips>
        </td>
      </tr>
      <tr>
        <td>Данные о заведенных уголовных делах</td>
        <td>
          <app-view-supplier-crimes [items]="supplier.criminalCases"></app-view-supplier-crimes>
        </td>
      </tr>
      <tr>
        <td>Данные о судебных тяжбах</td>
        <td>
          <app-view-supplier-litigations [items]="supplier.litigations"></app-view-supplier-litigations>
        </td>
      </tr>
      <tr>
        <td>Данные по договорам поставщика (суммы)</td>
        <td>
          данные не найдены в OCDS-базе (http://ocds.zakupki.gov.kg/api/)
          <!--
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <ng-container *ngIf="!isLoadingResults && hasContractData">
              {{contractInfo.value?.amount}} KGS (№ договора {{contractInfo.contractNumber}} от {{contractInfo.dateSigned | date:'dd.MM.yyyy'}})
            </ng-container>
            <ng-container *ngIf="!hasContractData">
              данные не найдены в OCDS-базе (http://ocds.zakupki.gov.kg/api/)
            </ng-container>-->
        </td>
      </tr>
      <tr>
        <td>Соблюдение сроков исполнения договоров</td>
        <td>Исполнение договоров госзакупок</td>
      </tr>
      <tr>
        <td>Наличие претензий по качеству</td>
        <td>Исполнение договоров госзакупок</td>
      </tr>
      <tr>
        <td>
          Наличие судебных тяжб по экономическим вопросам
        </td>
        <td>данные отсутствуют</td>
      </tr>
      <tr>
        <td>
          Наличие уголовных дел в отношении поставщика
        </td>
        <td>данные отсутствуют</td>
      </tr>
      <tr>
        <td>
          Наличие судебных приговоров в отношении поставщика
        </td>
        <td>данные отсутствуют</td>
      </tr>
    </table>
  </mat-card-content>
  <!--<mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>-->
</mat-card>
