<mat-toolbar>
  <span>Информация о поставщике</span>
  <span class="fill-remaining-space"></span>
  <button *ngIf="hasRoute" mat-button (click)="goBack()" matTooltip="Вернуться к списку">НАЗАД</button>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{supplier.name}}</mat-card-title>
    <mat-card-subtitle>последний раз обновлено от {{supplier.updatedAt | date:'dd.MM.yyyy HH:mm'}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <table class="table table-with-col">
      <tr>
        <td>ИНН</td>
        <td>{{supplier.inn}}</td>
      </tr>
      <tr>
        <td>Юр. адрес</td>
        <td>{{supplier.legalAddress}}</td>
      </tr>
      <tr>
        <td>Форма собственности</td>
        <td>{{supplier.ownershipType?.name}}</td>
      </tr>
      <tr>
        <td>Отрасль</td>
        <td>{{supplier.industry?.name}}</td>
      </tr>
      <tr>
        <td>Юр. адрес</td>
        <td>{{supplier.legalAddress}}</td>
      </tr>
      <tr>
        <td>Факт. адрес</td>
        <td>{{supplier.factAddress}}</td>
      </tr>
      <tr>
        <td>
          Резидент
        </td>
        <td>{{supplier.resident ? 'да' : 'нет'}}</td>
      </tr>
      <tr [class.blackList]="supplier.isBlack">
        <td>
          Черный список
        </td>
        <td>{{supplier.isBlack ? 'да' : 'нет'}}</td>
      </tr>
      <tr>
        <td>Руководитель</td>
        <td>
          <button color="primary" style="float: right;" *ngIf="isCabinet" mat-stroked-button
            (click)="addSupplierMember()">Добавить</button>
          <view-supplier-members [supplier_members]="supplier.supplierMembers"
            (removeEvent)="remove('SupplierMember', $event)">
          </view-supplier-members>
        </td>
      </tr>
      <tr>
        <td>Лицензии</td>
        <td>
          <button color="primary" style="float: right;" *ngIf="isCabinet" mat-stroked-button
            (click)="addLicense()">Добавить</button>
          <app-view-supplier-licenses *ngIf="licenseChecked && supplier.id" [licenses]="supplier.licenses"
            [supplierId]="supplier.id" (removeEvent)="remove('License', $event)">
          </app-view-supplier-licenses>
          <span style="font-style: italic; color: darkred;" *ngIf="!isCabinet && !licenseChecked">Данная информация
            скрыта</span>
        </td>
      </tr>
      <tr>
        <td>Сертификаты</td>
        <td>
          <button color="primary" style="float: right;" *ngIf="isCabinet" mat-stroked-button
            (click)="addCertificate()">Добавить</button>
          <app-view-supplier-certificates *ngIf="supplier.id" [certificates]="supplier.certificates"
            [supplierId]="supplier.id" (removeEvent)="remove('Certificate', $event)">
          </app-view-supplier-certificates>
        </td>
      </tr>
      <tr>
        <td>Данные о задолженности по налогам</td>
        <td>
          <button color="primary" style="float: right;" *ngIf="isCabinet" mat-stroked-button>Запросить через
            Тундук</button>
          <app-view-supplier-debts *ngIf="debtChecked" [items]="supplier.debts"></app-view-supplier-debts>
          <span style="font-style: italic; color: darkred;" *ngIf="!debtChecked">Данная информация скрыта</span>
        </td>
      </tr>
      <tr>
        <td>Данные договоров поставщика</td>
        <td>
          <button color="primary" style="float: right;" *ngIf="isCabinet" mat-stroked-button
            (click)="addDeal()">Добавить</button>
          <app-view-supplier-deals [deals]="supplier.dealContracts" (removeEvent)="remove('DealContract', $event)">
          </app-view-supplier-deals>
        </td>
      </tr>
      <tr>
        <td>Отзывы о поставщике</td>
        <td>
          <span style="font-style: italic; color: darkred;" *ngIf="!complaintChecked">Данная информация скрыта</span>
          <mat-accordion *ngIf="complaintChecked">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Всего {{complaints.length}} шт.
                </mat-panel-title>
                <mat-panel-description>

                  <span class="fill-remaining-space"></span>
                  <mat-icon>thumb_down_alt</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div style="max-height:200px;overflow:auto;">
                <table class="table">
                  <tr>
                    <th>
                      Дата отзыва
                    </th>
                    <th>
                      Закупающая организация
                    </th>
                    <th>
                      Тип отзыва
                    </th>
                    <th class="long-text-col">
                      Текст
                    </th>
                    <th>
                      Скан-файлы
                    </th>
                  </tr>
                  <tr *ngFor="let a of complaints">
                    <td>
                      {{a.createdAt | date:'dd.MM.yyyy'}}
                    </td>
                    <td>
                      {{a.buyer?.name}}
                    </td>
                    <td>
                      {{a.complaintType?.name}}
                    </td>
                    <td class="long-text-col">
                      {{a.description}}
                    </td>
                    <td>
                      <app-view-supplier-uploads *ngIf="a.supplierId > 0" [supplierid]="a.supplierId"
                        [packageTypeName]="'complaints'" [packageItemId]="a.id"></app-view-supplier-uploads>
                    </td>
                  </tr>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
      </tr>
      <!--<tr>
        <td>Данные о налоговой регистрации</td>
        <td>
          <app-view-supplier-ips [items]="[]"></app-view-supplier-ips>
        </td>
      </tr>-->
      <tr>
        <td>Данные о заведенных уголовных делах</td>
        <td>
          <app-view-supplier-crimes [items]="supplier.criminalCases"></app-view-supplier-crimes>
        </td>
      </tr>
      <tr>
        <td>Данные о судебных тяжбах</td>
        <td>
          <app-view-supplier-litigations [items]="supplier.litigations"></app-view-supplier-litigations>
        </td>
      </tr>
      <tr>
        <td>
          Наличие судебных тяжб по экономическим вопросам
        </td>
        <td>данные отсутствуют</td>
      </tr>
      <!--<tr>
        <td>
          Список файлов
        </td>
        <td>
          <app-view-supplier-uploads *ngIf="supplier.id" [supplierid]="supplier.id"></app-view-supplier-uploads>
        </td>
      </tr>-->
    </table>
  </mat-card-content>
  <!--<mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>-->
</mat-card>
