.example-card, mat-toolbar {
    max-width: 1000px;
    margin: 0px auto;
  }
  
  .example-header-image {
    background-image: url('../../../assets/images/supplier.png');
    background-size: cover;
  }
  .blackList {
    background-color: rgba(255, 0, 0, 0.363);
  }