<!--<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <a routerLink="/home">
        <img src="assets/images/logo.png" width="30px" style="margin: 10px;">
         {{projectName}}
      </a>

    </mat-toolbar>
    <mat-nav-list>
      <app-menu-list-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="isHandset$ | async">ДГЗ Управление конструктором</span>
      <div style="margin: 0 0 0 auto">
        <span *ngIf="true">
          {{claims.orgName}}
        </span>
        <button *ngIf="true" mat-raised-button color="primary" type="button" (click)="login()">Войти</button>
        <button *ngIf="true" mat-icon-button color="warn" type="button" (click)="logoff()"><mat-icon>exit_to_app</mat-icon></button>

      </div>
    </mat-toolbar>-->
    <!-- Add Content Here -->
    <div class="wrapper-content">
      <ng-content></ng-content>
    </div>
  <!--</mat-sidenav-content>
</mat-sidenav-container>-->
