
<p>{{getDirectorName()}}</p>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Кадровый состав
            </mat-panel-title>
            <mat-panel-description>
              Всего {{supplier_members?.length}}
              <span class="fill-remaining-space"></span>
              <mat-icon>person</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table class="table">
              <tr>
                  <th>ПИН</th>
                  <th>Фамилия</th>
                  <th>Имя</th>
                  <th>Отчество</th>
                  <th>Должность</th>
                  <th></th>
              </tr>
              <tr *ngFor="let item of supplier_members">
                  <td>
                      {{item.pin}}
                  </td>
                  <td>
                      {{item.surname}}
                  </td>
                  <td>
                      {{item.name}}
                  </td>
                  <td>
                      {{item.patronymic}}
                  </td>
                  <td>
                      {{item.memberType?.name}}
                  </td>
                  <td>
                    <button *ngIf="item.msecDetails.length" mat-stroked-button color="primary" (click)="viewMsecDetails(item)">Данные МСЭК</button>
                    <button *ngIf="isCabinet" color="warn" mat-icon-button (click)="remove(item.id)" matTooltip="Удалить запись?">
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </td>
              </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>