<mat-form-field class="demo-full-width margin-top" [formGroup]="group">
    <mat-select [placeholder]="field.label" [formControlName]="field.name" #singleSelect>
        <mat-option>
            <ngx-mat-select-search [formControl]="filterCtrl" [placeholderLabel]="'Поиск...'" [noEntriesFoundLabel]="'Не найдено'"></ngx-mat-select-search>
          </mat-option>
        <mat-option>-</mat-option>
    <mat-option *ngFor="let item of filteredCollection | async" [value]="item.id">{{item.text}}</mat-option>
    </mat-select>
</mat-form-field>