<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-toolbar>
      <span>Ввод доп. информации</span>
      <span class="fill-remaining-space"></span>
      <a mat-raised-button color="secondary" routerLink="/living-persons/view/{{personId}}">Назад</a>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline">
        <mat-label>Наименование молодежного объединения экстремистского (политического, религиозного толка)</mat-label>
        <input matInput formControlName="CommunityName" required>
      </mat-form-field>
      <br>
      <app-date [field]="RegDateField" [group]="formGroup"></app-date>
      <br>
      <app-date [field]="ExpiryDateField" [group]="formGroup"></app-date>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="text-right">
      <button type="button" mat-raised-button color="primary" (click)="submit()">Сохранить</button>
    </div>
  </mat-card-actions>
</mat-card>
