<app-main-nav>
    <router-outlet></router-outlet>
    <br>
    <br>
    <table class="disclaimer">
        <tr>
            <td>
                <img src="assets/images/disclaimer.png">
            </td>
            <td>
                <p>Данная автоматизированная информационная система стала возможной благодаря помощи американского народа, оказанной через Агентство США по международному развитию (USAID). Департамент государственных закупок при Министерстве финансов Кыргызской Республики несет ответственность за содержание публикации, которое не обязательно отражает позицию USAID или Правительства США.</p>
            </td>
        </tr>
    </table>
</app-main-nav>
