<mat-card *ngIf="detailMode" class="mat-elevation-z8">
  <mat-card-header>
    <mat-toolbar>
      <span>{{resourceLabel}}</span>
      <span class="fill-remaining-space"></span>
      <button color="primary" mat-raised-button (click)="onEditClicked()" >Изменить</button>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <table class="mat-table">
      <tr class="mat-row" *ngFor="let field of fields">
        <td style="padding: 5px;" class="mat-cell" style="border-right: 1px solid rgba(0,0,0,.12); text-align: right;">
          {{field.Label}}
        </td>
        <td style="padding: 5px;" class="mat-cell">
          <app-view-item *ngIf="field.ElementType == 'select'; else notSelect" [templateId]="field.DefaultValue" [resourceItemId]="fieldValues[field.Name]" [detailMode]="false"></app-view-item>
            <ng-template #notSelect>
              <app-preview-file *ngIf="field.ElementType == 'image' && fieldValues[field.Name]; else notFile" [id]="fieldValues[field.Name]" [max-width]="'500px'"></app-preview-file>
              <ng-template #notFile>
                <mat-checkbox *ngIf="field.ElementType == 'checkbox'; else notCheckbox" [checked]="fieldValues[field.Name]" [disabled]="true"></mat-checkbox>
                <ng-template #notCheckbox>
                  <ng-container *ngIf="field.ElementType == 'date'; else notDate">
                    {{convertToDate(fieldValues[field.Name])}}
                  </ng-container>
                  <ng-template #notDate>
                    {{fieldValues[field.Name]}}
                  </ng-template>
                </ng-template>
              </ng-template>
            </ng-template>
        </td>
      </tr>
    </table>
      <ng-container *ngIf="subResources">
        <app-resources
         *ngFor="let subResource of subResources"
          [templateId]="subResource.templateId"
           [localData]="subResource.localData"
            [hasAddBtn]="false"
             [fieldName]="subResource.foreignKey"
              [fieldValue]="resourceItemId"
               [loadRequired]="subResource.loadRequired">
        </app-resources>
      </ng-container>
  </mat-card-content>
  <mat-card-actions *ngIf="buttons.length">
    <ng-container *ngFor="let button of buttons">
      <a color="primary" mat-raised-button routerLink="/{{button.DefaultValue}}">{{button.Label}}</a>
    </ng-container>
  </mat-card-actions>
</mat-card>
<ng-container *ngIf="!detailMode && fieldValues">
    <a routerLink="/resources/{{templateId}}/viewItem/{{resourceItemId}}">{{fieldValues[getFirstFieldName(fieldValues)]}}</a>
</ng-container>
