<mat-card *ngIf="detailMode">
  <mat-card-header>
    <mat-card-title>{{resourceLabel}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list class="container">
        <mat-list-item class="row justify-content-md-start" [style.height]="'auto'" *ngFor="let field of fields">
            <div class="col-md-4 field-label">
                {{field.Label}}
              </div>
          <div class="col-md-auto">
            <app-view-item *ngIf="field.ElementType == 'select'; else notSelect" [templateId]="field.DefaultValue" [resourceItemId]="fieldValues[field.Name]" [detailMode]="false"></app-view-item>
            <ng-template #notSelect>
              <app-preview-file *ngIf="field.ElementType == 'image' && fieldValues[field.Name]; else notFile" [id]="fieldValues[field.Name]" [max-width]="'500px'"></app-preview-file>
              <ng-template #notFile>
                {{fieldValues[field.Name]}}
              </ng-template>
            </ng-template>
          </div>
        </mat-list-item>
      </mat-list>
      <ng-container *ngIf="subResources">
        <app-resources *ngFor="let subResource of subResources" [templateId]="subResource.templateId" [localData]="subResource.localData" [hasAddBtn]="true" [fieldName]="subResource.foreignKey" [fieldValue]="resourceItemId" [loadRequired]="subResource.loadRequired"></app-resources>
      </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <ng-container *ngFor="let button of buttons">
      <a color="primary" mat-raised-button routerLink="/{{button.DefaultValue}}">{{button.Label}}</a>
    </ng-container>
  </mat-card-actions>
</mat-card>
<ng-container *ngIf="!detailMode && fieldValues">
    <a routerLink="/resources/{{templateId}}/viewItem/{{resourceItemId}}">{{fieldValues[getFirstFieldName(fieldValues)]}}</a>
</ng-container>