<ng-container *ngIf="isCabinet">
  <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
  <button color="accent" mat-icon-button (click)="file.click()" matTooltip="Загрузить скан-файл">
    <mat-icon>upload</mat-icon>
  </button>
</ng-container>
<!--<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3" *ngIf="isCabinet">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button style="background-color: #004080;
      border: 2px solid #000080;
      border-radius: 10px;" type="button" class="btn btn-success" (click)="file.click()">Выберите файл</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>-->
<div class="row">
  <div class="col-md-offset f-item" *ngFor="let f of files">
    <a matTooltip="Скачать {{getFileName(f.name)}}" color="primary" mat-icon-button href="{{f.url}}">
      <mat-icon>download</mat-icon>
    </a>
    <button *ngIf="isCabinet" color="warn" mat-icon-button (click)="remove(f)"
      matTooltip="Удалить файл {{getFileName(f.name)}}?">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </div>
</div>
