<div class="row">
  <div class="col-md-6">
    <h4>Данные из Портала</h4>
    <app-view-item [resetFormSubject]="resetFormSubject.asObservable()" [templateId]="4" [resourceItemId]="appId"></app-view-item>
  </div>
  <div class="col-md-6">
    <h4>Данные из КИССП и ИСРТ</h4>
    <app-sod-data *ngIf="app != null" [pin]="app.PIN" [passportSeries]="app.PassportSeries" [passportNo]="app.PassportNo"></app-sod-data>
    <div class="text-center">
      <button mat-raised-button color="primary" (click)="accept()">Одобрить</button>
      <button mat-raised-button color="warn" (click)="onRejectClicked()">Отказать</button>
      <a mat-raised-button color="secondary" routerLink="/unemployeeApplications">назад</a>
    </div>

  </div>
</div>


