<p class="attention-text-italic">*все загруженные файлы становятся публичными</p>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Всего {{licenses.length}} шт.
            </mat-panel-title>
            <mat-panel-description>

                <span class="fill-remaining-space"></span>
                <mat-icon>grading</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="max-height:300px;overflow:auto;">
            <table class="table">
                <tr>
                    <th>
                        Выдан кем
                    </th>
                    <th>
                        Номер
                    </th>
                    <th>
                        Дата выдачи
                    </th>
                    <th>Вид деятельности</th>
                    <th>Срок действия</th>
                    <th>Скан документа</th>
                    <!--<th>Примечания</th>-->
                    <th></th>
                </tr>
                <tr *ngFor="let a of licenses">
                    <td>
                        {{a.issuer}}
                    </td>
                    <td>
                        {{a.no}}
                    </td>
                    <td>
                        {{a.issueDate | date:'dd.MM.yyyy'}}
                    </td>
                    <td>{{a.licenseType.name}}</td>
                    <td>{{a.expiryDate | date:'dd.MM.yyyy'}}</td>
                    <td>
                        <app-view-supplier-uploads *ngIf="supplierId > 0" [supplierid]="supplierId"
                            [packageTypeName]="'licenses'" [packageItemId]="a.id"></app-view-supplier-uploads>
                    </td>
                    <!--<td>{{a.additionalInfo}}</td>-->
                    <td>
                        <button *ngIf="isCabinet" color="warn" mat-icon-button (click)="remove(a.id)"
                            matTooltip="Удалить запись?">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </mat-expansion-panel>
</mat-accordion>
