<mat-card class="mat-elevation-z8 example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{sourceObj.classLabel}}</mat-card-title>
      <mat-card-subtitle>Конструктор отчета</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>
                rule
                </mat-icon>
              <span style="padding: 2px;">Выбрать поля</span>
            </mat-panel-title>
            <mat-panel-description style="flex-grow: 0">
              Здесь вы можете задать поля которые хотите видеть в таблице
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <div>

      <div cdkDropListGroup>
          <div class="example-container">

      <button mat-stroked-button color="primary" (click)="moveAll()">Выбрать все</button>
            <div
              cdkDropList
              [cdkDropListData]="fields"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let f of fields" cdkDrag>{{f.label}}</div>
            </div>
          </div>
        
          <div class="example-container">
            <h4>Выбранные поля</h4>
        
            <div
              cdkDropList
              [cdkDropListData]="selected_fields"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let f of selected_fields" cdkDrag>{{f.label}}</div>
              <i *ngIf="!selected_fields.length">Перетащите сюда поля</i>
            </div>
          </div>
        </div>
          </div>
          
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Условия запроса
            </mat-panel-title>
            <mat-panel-description style="flex-grow: 0">
              Здесь вы можете задать критерии поиска
            </mat-panel-description>
          </mat-expansion-panel-header>
            
  <app-view-report-conditions [selectItems]="selectItems" [fields]="offline_fields" (updateListEvent)="updateConditions($event)"></app-view-report-conditions>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Добавить новую запись
            </mat-panel-title>
            <mat-panel-description style="flex-grow: 0">
              Здесь вы можете добавить записи вручную
            </mat-panel-description>
          </mat-expansion-panel-header>
            
  <app-view-report-item-filler [selectItems]="selectItems" [fields]="{fields: offline_fields, entityName: sourceObj.className}"></app-view-report-item-filler>
    
        </mat-expansion-panel>
      </mat-accordion>
    
</mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="goBack()">НАЗАД</button>
      <button [disabled]="!selected_fields.length" mat-button (click)="fetchData()" matTooltip="Сформировать данные">СФОРМИРОВАТЬ ДАННЫЕ</button>
    </mat-card-actions>
  </mat-card>
  <div [ngStyle]="{'display': selected_fields.length > 0 ? 'block' : 'none'}" style="padding: 10px;">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <app-view-report-result [selectItems]="selectItems" [events]="eventsSubject.asObservable()" [data]="data" [selected_fields]="selected_fields"></app-view-report-result>
  </div>