.field-label {
  color: rgba(0,0,0,0.5);
}

mat-toolbar {
  background-color: inherit;
}

.mat-table {
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  table-layout: fixed;
  tr {
      //border-bottom: 1px solid gray;
      td {
          padding: 5px;
          border: 1px solid rgb(224, 224, 224);
      }
  }
  tr.mat-footer-row, tr.mat-row {
    height: 48px;
  }
  tr td:first-child{
    width: 50px;
    //border-left: 1px solid rgb(224, 224, 224);
  }
  tr td:last-child{
    width: 400px;
  }
}
tr:hover {
  background: whitesmoke;
}
