<button *ngIf="editing" mat-raised-button (click)="cancel()">отмена</button>
<ng-container *ngIf="buyer?.hasInit && !editing">
  <mat-toolbar>Кабинет закупающей организации</mat-toolbar>
  <button *ngIf="!editing" mat-raised-button (click)="edit()">редактировать</button>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{buyer.name}}</mat-card-title>
      <mat-card-subtitle>последний раз обновлено от {{buyer.updatedAt | date:'dd.MM.yyyy HH:mm'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <table class="table table-with-col">
        <tr>
          <td>ИНН</td>
          <td>{{buyer.inn}}</td>
        </tr>
        <tr>
          <td>Юр. адрес</td>
          <td>{{buyer.legalAddress}}</td>
        </tr>
        <tr>
          <td>Факт. адрес</td>
          <td>{{buyer.factAddress}}</td>
        </tr>
        <tr>
          <td>Мои отзывы</td>
          <td>
            <button color="primary" style="float: right;" mat-stroked-button (click)="addComplaint()">Добавить</button>
            <p class="attention-text-italic">*все загруженные файлы становятся публичными</p>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Всего {{complaints.length}} шт.
                  </mat-panel-title>
                  <mat-panel-description>
                    <span class="fill-remaining-space"></span>
                    <mat-icon>thumb_up_alt</mat-icon>
                    <mat-icon>thumb_down_alt</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="max-height:200px;overflow:auto;">
                  <table class="table">
                    <tr>
                      <th>
                        Дата
                      </th>
                      <th>
                        ИНН поставщика
                      </th>
                      <th>
                        Наименование
                      </th>
                      <th>
                        Тип отзыва
                      </th>
                      <th class="long-field">
                        Текст
                      </th>
                      <th>Скан-файл</th>
                    </tr>
                    <tr *ngFor="let a of complaints">
                      <td>
                        {{a.createdAt | date:'dd.MM.yyyy'}}
                      </td>
                      <td>
                        {{a.supplier?.inn}}
                      </td>
                      <td>
                        {{a.supplier?.name}}
                      </td>
                      <td>
                        {{a.complaintType?.name}}
                      </td>
                      <td class="long-field">
                        {{a.description}}
                      </td>
                      <td>
                        <app-view-supplier-uploads *ngIf="a.supplier != null" [supplierid]="a.supplier?.id"
                          [packageTypeName]="'complaints'" [packageItemId]="a.id"></app-view-supplier-uploads>
                      </td>
                    </tr>
                  </table>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <!--<mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>-->
  </mat-card>
  <app-view-suppliers *ngIf="buyerSupplierRegistryChecked"></app-view-suppliers>
</ng-container>
<app-buyer-initial-form *ngIf="(buyer != null && !buyer.hasInit) || editing" [buyer]="buyer" [edit]="editObj">
</app-buyer-initial-form>
