<h1>Файлы в облаке:</h1>

<a mat-raised-button color="primary" routerLink="/upload-image">Добавить</a>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <td></td>
      <td>Имя файла</td>
      <td>Дата</td>
      <td>Размер файла</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of files">
      <td><button mat-raised-button color="warn" type="button" (click)="deleteFile(f.id)">удалить</button></td>
      <td>{{f.name}}</td>
      <td>{{f.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{viewSize(f.size)}}</td>
      <td>
        <app-preview-file [id]="f.id" [max-width]="'100px'"></app-preview-file>
      </td>
    </tr>
  </tbody>
</table>