<mat-card class="mat-elevation-z8 example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Департамент государственных закупок</mat-card-title>
      <mat-card-subtitle>Система аналитики и отчетности</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <section>
            <div class="example-button-row">
                <button (click)="goto('analitics')" mat-raised-button color="primary">Аналитические данные</button>
                <button (click)="goto('report-builder/view-source-list')" mat-raised-button color="accent">Конструктор отчетности</button>
            </div>
          </section>
    </mat-card-content>
  </mat-card>
